// ========================================
// main
// ========================================

body {
	cursor: grab;
}

.description {
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	color: $white;
	text-transform: capitalize;
	opacity: 0.8;
}
